/*
Layout＿main
welukaの3パーツの接頭語は、Section = ls- 、 column = lc- 、row = lr- 、とします。
*/


/*
Section
*/

.ls-ec--top,.ls-ec--strong{
  background-color: #edf0f2;
  padding: 0px;
}

/*
row
*/
.lr-box--strong{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  //border: 1px solid #aaa;
  text-align: center;
  //height: 150px;
  //padding: 40px;

}

.ls-ec--trial{
  background-color:$glay-bg;
}

.lr-box{
text-align: center;
}

/*
column
*/

.lc-box--strong{
  padding-left: 5px;
  padding-right: 5px;
  position: relative; //テキストを上に載せるため
}

.lc-ttl{
  text-align: center;
}


.lc-box3--lineup{
  position: relative;

}


.lc-buy,.lc-detail{
  padding: 20px;
}


/* 768px以上(スマホ以外表示)*/

@media (min-width: 768px) {
    #main-content {
        padding: 0.5rem 0rem;
    }
    #weluka-main-header {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
    .lr-main,
    .ls-note,
    .lc-sub {
        padding: 0.5rem 5rem;
    }
    /* transition */
    .weluka-custom-header,
    .weluka-custom-header:after
    {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
}
/*992px以上*/
@media (min-width: 992px) {
    .lr-main,
    .ls-note,
    .lc-sub {
        padding: 1rem 20rem;
    }
    .single-post .weluka-container-fluid,
    .archive .weluka-container-fluid {
        max-width: 100%;
        width: 1170px;
    }
}
