/*
Layout＿main
welukaの3パーツの接頭語は、Section = ls- 、 column = lc- 、row = lr- 、とします。
*/


/*
Section
*/

.ls-ec--top,.ls-ec--strong{
  background-color: $glay-bg;
  padding: 0px;
}
.ls-ec--trial,.ls-ec--original{
  background-color:$glay-bg;
}

/*
row
*/
.lr-box{
  padding:0 0 50px 0;
text-align: center;
}

/*
column
*/
.lc-box--strong{
  background-color: $white-bg;
  padding-left: 5px;
  padding-right: 5px;
  margin: 3px 5px 10px 5px;
  //position: relative; //テキストを上に載せるため
}


.lc-box--strong .weluka-img{
  height: 130px;
  margin: 0px;
}

.lc-box--strong-03 .c-box--strong{
  margin-top:10px;
}

.lc-ttl{
  text-align: center;
}


.lc-box3--lineup{
  position: relative;

}


.lc-buy,.lc-detail{
  padding: 20px;
}

.lc-buy .weluka-img{
  height: 550px;
  padding: 20px;
  margin: 0px;
    background-color: $buy-bg;
}

.lc-detail .weluka-img{
    height: 250px;
  margin: 0px;
  padding: 10px;
}

.lc-detail--trial .weluka-img,.lc-detail--original .weluka-img{
  background-color: $white-bg;
}


.lc-detail--package .weluka-img{
  background-color: $glay-bg;
}

/* 768px以上(スマホ以外表示)*/

@media (min-width: 768px) {
  .lr-box--strong{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
  }
    #main-content {
        padding: 0.5rem 0rem;
    }
    #weluka-main-header {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
    .lr-main,
    .ls-note,
    .lc-sub {
        padding: 0.5rem 5rem;
    }
    /* transition */
    .weluka-custom-header,
    .weluka-custom-header:after
    {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
    }
}
/*992px以上*/
@media (min-width: 992px) {
    .lr-main,
    .ls-note,
    .lc-sub {
        padding: 1rem 20rem;
    }
    .single-post .weluka-container-fluid,
    .archive .weluka-container-fluid {
        max-width: 100%;
        width: 1170px;
    }
}
