/*
Layout＿main
welukaの3パーツの接頭語は、Section = ls- 、 column = lc- 、row = lr- 、とします。
*/
/*Section*/
.lc-key--top .weluka-img,
.ls-ec--strong,
.ls-ec--top {
  padding: 0;
}

.lc-key--top .weluka-img {
  margin: 0;
}

.ls-ec--original,
.ls-ec--strong,
.ls-ec--trial {
  background-color: $glay-bg;
}
/*row*/

.lr-box {
  padding: 0 0 30px;
  text-align: center;
}
/*column*/

.lc-box--strong {
  background-color: $white-bg;
  padding-left: 5px;
  padding-right: 5px;
  margin: 3px 5px 10px;
  position:		relative;	/* 相対位置指定 テキストを上に載せるため*/
}

.lc-box--strong .weluka-img {
  height: 130px;
  margin: 0;

}

.lc-box--strong-03 .c-box--strong {
  margin-top: 10px;
}

.lc-box--strong:hover .c-mask--strong {
	opacity:		1;	/* マスクを表示する */
}


.lc-ttl {
  text-align: center;
}

.lc-box3--lineup {
  position: relative;
  margin-bottom: 40px;
}

.lc-buy,
.lc-detail {
  padding: 20px;
}

.lc-buy .weluka-img {
  padding: 20px;
  margin: 0;
  background-color: $buy-bg;
}

.lc-detail .weluka-img {
  margin: 0;
  padding: 10px;
}

.lc-detail--original .weluka-img,
.lc-detail--trial .weluka-img {
  background-color: $white-bg;
}

.lc-detail--package .weluka-img {
  background-color: $glay-bg;
}
/* 768px以上(スマホ以外表示)*/
@media (min-width: 768px) {
  .lr-box--strong {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
  }

  #main-content {
    padding: 0.5rem 0;
  }

  #weluka-main-header {
    padding: 1rem 0.5rem 0.5rem;
  }

  .lc-sub,
  .lr-main,
  .ls-note {
    padding: 0.5rem 5rem;
  }
  /* transition */
  .weluka-custom-header,
  .weluka-custom-header:after {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
}
/*992px以上*/
@media (min-width: 992px) {
  .lc-buy .weluka-img {
    height: 600px;
  }
  .lc-buy--package .weluka-img {
    height: 500px;
  }

  .lc-detail .weluka-img {
    height: 250px;
  }

  .lc-sub,
  .lr-main,
  .ls-note {
    padding: 1rem 20rem;
  }

  .archive .weluka-container-fluid,
  .single-post .weluka-container-fluid {
    max-width: 100%;
    width: 1170px;
  }
}
