@charset "UTF-8";
/* ==========================================================================
 Foundation
============================================================================*/
/*foundation_reset
通常テーマ上のCSSで実施されるため、初期化する事はあまりない
*/
.scc {
  color: #ffffff; }

/* fundation_base
*/
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans CJK JP"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.otf) format("opentype"); }

/*デフォルト設定変更*/
html {
  font-size: 62.5%;
  /*スマホの倍率、PCはメディアクエリに記載*/ }

body {
  font-family: "Noto Sans", "Noto Sans CJK JP",Meiryo, "メイリオ",Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Verdana, "ＭＳ Ｐゴシック", sans-serif;
  -webkit-font-feature-settings: 'palt' 1;
  font-feature-settings: 'palt' 1;
  color: #4c4c4c;
  background-color: #fff;
  font-size: 1.6rem;
  /*スマホ用 PCはメディアクエリに記載*/ }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }

.single-post h1 {
  font-size: 2.125em;
  line-height: 1.5;
  margin: 0 0 1em;
  padding: 0; }

.single-post h2::after, .category h2::after {
  background-color: #3770ad;
  bottom: -4px;
  content: "";
  height: 4px;
  left: 0;
  position: absolute;
  width: 20%;
  z-index: 2; }

.single-post h2, .category h2 {
  border-bottom: 4px solid #afafaf;
  box-sizing: content-box;
  font-size: 1.5em;
  font-weight: bold;
  margin: 60px 0 30px;
  padding: 0 0 10px;
  position: relative; }

.single-post h3 {
  color: #0074c1;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 32px;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 8px 8px; }

.single-post h4 {
  color: #000000;
  border-left: 8px solid #999999;
  padding-left: 10px; }

/*コメント*/
/* contact form7 style.css を上書き */
.wpcf7 input[type="text"], .wpcf7 input[type="email"], .wpcf7 input[type="url"], .wpcf7 input[type="password"], .wpcf7 input[type="search"], .wpcf7 input[type="tel"], .wpcf7 input[type="datetime"], .wpcf7 input[type="date"], .wpcf7 input[type="month"], .wpcf7 input[type="week"], .wpcf7 input[type="time"], .wpcf7 input[type="datetime-local"], .wpcf7 input[type="number"], .wpcf7 textarea, .wpcf7 select {
  display: inline;
  font-size: 16px; }

p {
  margin-bottom: 1.2rem; }

a {
  color: #00579C;
  text-decoration: underline; }

a:hover {
  color: #002F55; }

/* table*/
/*テーブルをスマホ時に構造を変化*/
/* table */
#main-content table th {
  padding: 5px 5px 5px 10px;
  text-align: left;
  border: 1px solid #000;
  background: #DFECF7; }

#main-content table td {
  border: 1px solid #000;
  padding: 5px 5px 5px 10px;
  text-align: left; }

/* end.table */
/* 768px以上 */
@media (min-width: 768px) {
  body {
    font-size: 1.8rem; } }

/*foundation_reset
通常テーマ上のCSSで実施されるため、初期化する事はあまりない
*/
.scc {
  color: #ffffff; }

/* ==========================================================================
 layout
============================================================================*/
/*
Layout_footer
welukaの3パーツの接頭語は、Section = ls- 、 column = lc- 、row = lr- 、とします。
*/
/*
Layout_header
welukaの3パーツの接頭語は、Section = ls- 、 column = lc- 、row = lr- 、とします。
*/
/*ヘッダスクロール時*/
.headroom--not-top .lc-header--logo {
  display: none; }

/* 768px以上(スマホ以外表示)*/
@media (min-width: 768px) {
  /*header 固定時*/
  .headroom--not-top {
    padding-top: 0px;
    padding-bottom: 0px;
    background: rgba(255, 255, 255, 0.7); }
  .headroom--not-top .lc-header--logo {
    display: inline; }
  .headroom--not-top {
    font-size: 1.5rem;
    color: #333; }
  .headroom--not-top .logo--header {
    width: 150px; }
  .headroom--not-top .nav--header {
    font-size: 1.5rem; }
  .headroom--not-top .navbar-nav > li > a {
    padding-bottom: 5px;
    padding-top: 5px; }
  .headroom--not-top .cl-header-contact--pc .weluka-content {
    margin-top: 5px;
    margin-bottom: 5px; } }

/*
Layout＿main
welukaの3パーツの接頭語は、Section = ls- 、 column = lc- 、row = lr- 、とします。
*/
/*
Section
*/
.ls-ec--top, .ls-ec--strong {
  background-color: #edf0f2;
  padding: 0px; }

/*
row
*/
.lr-box--strong {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center; }

.ls-ec--trial {
  background-color: #edf0f2; }

.lr-box {
  text-align: center; }

/*
column
*/
.lc-box--strong {
  padding-left: 5px;
  padding-right: 5px;
  position: relative; }

.lc-ttl {
  text-align: center; }

.lc-box3--lineup {
  position: relative; }

.lc-buy, .lc-detail {
  padding: 20px; }

/* 768px以上(スマホ以外表示)*/
@media (min-width: 768px) {
  #main-content {
    padding: 0.5rem 0rem; }
  #weluka-main-header {
    padding: 1rem 0.5rem 0.5rem 0.5rem; }
  .lr-main,
  .ls-note,
  .lc-sub {
    padding: 0.5rem 5rem; }
  /* transition */
  .weluka-custom-header,
  .weluka-custom-header:after {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; } }

/*992px以上*/
@media (min-width: 992px) {
  .lr-main,
  .ls-note,
  .lc-sub {
    padding: 1rem 20rem; }
  .single-post .weluka-container-fluid,
  .archive .weluka-container-fluid {
    max-width: 100%;
    width: 1170px; } }

/*
Layout_sidebar
welukaの3パーツの接頭語は、Section = ls- 、 column = lc- 、row = lr- 、とします。
*/
.lc-side h3 {
  background-color: #108f62;
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;
  color: #ffffff;
  padding: 0.4em 0.65em;
  position: relative; }

/* ==========================================================================
 objectg
============================================================================*/
/*Component_button
※通常、接頭語にc- が必要だが、ここでは、前CSS構造の sub-common.css の内容を引き継ぐ。
*/
/*TOPに戻るボタン*/
.c-fixlink {
  position: fixed;
  right: 10px; }

.c-fixlink--tw {
  bottom: 90px; }

.c-fixlink--fb {
  bottom: 50px; }

.c-fixlink--top {
  bottom: 10px; }

.c-fixlink a {
  display: block;
  z-index: 9999;
  padding: 5px 0 0 1px;
  border-radius: 3px;
  width: 35px;
  height: 35px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center; }

.c-fixlink--tw a {
  background-color: #1dcaff; }

.c-fixlink--fb a {
  background-color: #3b5998; }

.c-fixlink--top a {
  background-color: #ff5a40; }

.c-fixlink a:hover {
  text-decoration: none;
  opacity: 0.7; }

/* share button */
.share-btns {
  clear: both;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 0 10px;
  text-align: center; }

.share-btns ul {
  margin: 0;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px !important; }

.share-btns-item {
  float: left;
  list-style: outside none none;
  margin: 0px 10px;
  width: 40%; }

.share-btns-item .fa {
  width: 16px; }

.share-btn {
  color: #fff !important;
  display: block;
  font-size: 14px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  width: 100%; }

.share-btn.fb {
  background: #295993 none repeat scroll 0 0; }

.share-btn.twitter {
  background: #00acec none repeat scroll 0 0; }

.share-btn.hatena {
  background: #008fde none repeat scroll 0 0; }

.share-btn.gplus {
  background: #de4d3e none repeat scroll 0 0; }

/* end.share button */
/* end:問い合わせボタン*/
.c-btn--contact {
  text-align: center;
  padding: 20px; }

.c-btnlink {
  display: inline-block;
  width: 490px;
  height: 90px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  box-shadow: 2px 2px 2px #555; }

.c-btnlink::before,
.c-btnlink::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: ''; }

.c-btnlink,
.c-btnlink::before,
.c-btnlink::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s; }

.c-btnlink {
  background-color: #72b9cc;
  color: #fff; }

.c-btnlink:hover {
  background-color: #59b1eb; }

.c-btnlink p {
  line-height: 1.0; }

p.c-contact-name {
  padding: 20px 0 5px 0;
  margin: 0px;
  font-size: 1.4rem; }

p.c-contact-ttl {
  font-size: 2.8rem; }

/* end:問い合わせボタン*/
/* 768px以上 */
@media (min-width: 768px) {
  .c-fixlink--tw {
    bottom: 150px; }
  .c-fixlink--fb {
    bottom: 90px; }
  .c-fixlink--top {
    bottom: 30px; }
  .c-fixlink a {
    padding: 12px 0 0 1px;
    width: 53px;
    height: 53px; }
  .share-btns {
    padding: 0 50px; } }

/*Component_contact_form7
※通常、接頭語にc- が必要だが、ここでは、前CSS構造の sub-common.css の内容を引き継ぐ。
*/
/*contact form 7*/
.contactform-accept {
  text-align: center; }

form.wpcf7-form p {
  margin: 1.5rem 0; }

.contactform-btn-send {
  text-align: center; }

.contactform-btn-send-skin .weluka-btn {
  padding: 5px 60px; }

#main-content .wpcf7 h3 {
  color: #004b64;
  font-size: 16px;
  border: 0px; }

.wpcf7 .another-form {
  background: #fafafa none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 0 0 30px;
  padding: 5px; }

.wpcf7 .c-wpcf7-1form {
  /*名前等70%列*/
  width: 70%; }

.wpcf7 .c-wpcf7-2form {
  /*名前等2列*/
  width: 45%; }

.wpcf7 .c-wpcf7-3form {
  /*名前等2列*/
  width: 28%; }

.wpcf7 .c-wpcf7-4form {
  /*名前等2列*/
  width: 19%; }

.wpcf7 form.wpcf7-form .c-wpcf7-name {
  margin-bottom: 0px; }

.wpcf7 form.wpcf7-form .c-wpcf7-input {
  margin-top: 0px;
  margin-bottom: 2px; }

/*Component_design
※通常、接頭語にc- が必要
*/
/* ハンバーガーメニュー調整 767以下(特殊モバイル用設定)*/
@media (max-width: 767px) {
  .header-menu-clm .weluka-wpmenu {
    position: relative; }
  /*.header-menu-clm .navbar-header*/
  .header-menu-clm .navbar-header {
    position: relative;
    z-index: 999;
    width: 100%;
    left: 0;
    top: -90px; }
  .weluka-nav-bar-v {
    /*display: none;
        メニューの表示非表示の操作はwekukaに直接設定
        */
    background-color: #252525; }
  .navbar-header {
    background-image: url("/wp-content/uploads/nav/line-sp.png");
    /*.lr-navbar の背景でも設定しているが、メニューオープン時に必要*/ }
  .weluka-nav-bar-h,
  .navbar-collapse {
    background-color: #fff; } }

/*タイトル*/
.c-ttl {
  font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
  font-size: 3.4rem;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

/*短い下線*/
.c-ttl--strong, .c-ttl--lineup {
  content: "";
  position: relative;
  display: inline-block; }

.c-ttl--strong::before, .c-ttl--lineup::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid #f78154;
  width: 40%;
  width: -webkit-calc(100% - 550px);
  width: calc(100% - 550px);
  margin: 0 auto; }

.c-raytxt--strong {
  position: absolute;
  bottom: 20px;
  left: 0px;
  width: 100%; }

.c-raytxt--strong p {
  line-height: 5px; }

.c-box3--lineup {
  color: #fff;
  text-align: center;
  margin: 0 30px;
  background-color: #3b7aad;
  border-radius: 10px;
  padding: 15px 10px;
  line-height: 1.0; }
  .c-box3--lineup p {
    line-height: 1.0; }

.c-name {
  border-bottom: 1px solid #656566;
  margin: 30px 0 20px 0; }
  .c-name h2 {
    font-family: Meiryo, "メイリオ",Hiragino Sans, "ヒラギノ角ゴシック", Hiragino Kaku Gothic ProN, "ヒラギノ角ゴ ProN W3", Roboto, "Droid Sans", YuGothic, "游ゴシック", Verdana, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 3.0rem;
    margin: 5px; }
  .c-name h2:before {
    margin: 0 5px 0 0;
    content: " ";
    display: inline-block;
    content: url("/global-ec/wp-content/uploads/ico/ico-box.png");
    background-size: contain;
    vertical-align: middle; }

.c-voice p {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.0; }

.c-ask {
  background-color: #fff;
  border: 3px solid #3b7aad;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }
  .c-ask p {
    font-size: 2.4rem;
    margin: 0px; }

.lc-buy .weluka-img {
  height: 550px;
  padding: 20px;
  margin: 0px;
  background-color: #72b9cc; }

.c-detail {
  height: 300px;
  background-color: #fff;
  padding: 20px;
  margin: 0px;
  font-size: 1.6rem; }
  .c-detail h3 {
    font-size: 2.0rem; }

.lc-detail .weluka-img {
  height: 250px;
  margin: 0px;
  padding: 10px;
  background-color: #fff; }

.c-note {
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.c-note li {
  counter-increment: number;
  list-style: outside none none;
  padding: 10px 0 10px 20px;
  text-indent: -3rem; }

/* 768px以上 */
@media (min-width: 768px) {
  .c-ttl {
    width: 70%; }
  .navbar-brand {
    display: none; } }

/*Component_button
※通常、接頭語にc- が必要だが、ここでは、前CSS構造の sub-common.css の内容を引き継ぐ。
*/
.c-arrow--lineup {
  text-align: center; }

/*丸で囲んだ矢印*/
.c-arrow_inner--lineup {
  font-size: 30px;
  /*矢印の大きさ*/
  bottom: -23px;
  left: 43%;
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50%;
  /* 50%でもOK */
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-color: #3b7aad;
  background-color: #fff;
  /* 円の色 */
  padding: 11px 0 0 0px;
  box-shadow: 0 0 0 3px #3b7aad;
  /*外周の色*/ }

.c-arrow_inner::before {
  color: #3b7aad; }

.c-sankaku {
  border-style: solid;
  border-width: 30px 70px 0 70px;
  border-color: #3b7aad transparent transparent transparent;
  width: 0;
  height: 0;
  /*以下、真ん中そろえ*/
  margin-left: auto;
  margin-right: auto; }

/* 768px以上 */
/*project_common
*/
.p-top--note {
  margin: 0px;
  text-align: center; }

.p-top--note p {
  font-size: 1.8rem;
  padding: 0 40px; }

/*問い合わせボタン*/
.p-btn-contact {
  color: #fff;
  border-radius: 4px;
  display: block;
  text-indent: -9999em;
  transition: background 0.2s ease 0s;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: pointer; }

/*マウスオーバーで光る*/
.p-btn-contact:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: “alpha(opacity=70) ”; }

.p-btn-contact--header {
  background: #f6692a url("/wp-content/uploads/icon/icon-mail-small.png") no-repeat scroll 5px 8px;
  height: 40px;
  width: 170px; }

.p-btn-contact--middle {
  background: #f6692a url("/wp-content/uploads/icon/icon-mail-middle.png") no-repeat scroll 20px 20px;
  background-size: 200px;
  height: 80px;
  width: 250px; }

.p-note--body {
  padding: 0 10px; }

.p-note--body ul li {
  list-style: outside circle;
  padding: 10px 0 10px 5px;
  text-indent: 0rem; }

.p-txt-contact--middle {
  color: #f6692a;
  text-align: center; }

.navbar-toggle {
  margin-top: 20px; }

.p-posttitle--home {
  font-size: 1.8rem; }

/*
.p-post {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
*/
.p-post {
  width: 190px;
  margin: 0px 5px 0px 5px; }

.p-poststring--home {
  padding-left: 10px;
  text-align: left; }

.p-poststring--home a {
  display: block;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  color: #fff;
  /*文字色*/
  font-size: 70%;
  font-weight: bold;
  text-decoration: none; }

.weluka-sidebar h4.p-posttitle {
  font-weight: normal;
  font-size: 1em; }

/* 768px以上 */
@media (min-width: 768px) {
  .p-btn-contact--middle {
    background-size: 300px;
    height: 120px;
    width: 350px; } }

/*project_home
*/
/* utility_text
画像配置等
*/
.img-webbtn {
  margin: auto; }

.img-att {
  padding: 0 7em; }

/* 画像を真ん中配置 */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* utility_text
*/
.u-font-pickup {
  color: #FF0000; }

.u-font-note {
  color: #0000FF; }

.u-font-black {
  color: #000; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

/*Y強調*/
.u-bg-highlight {
  background-color: #fce519;
  font-weight: bold; }

.u-strong-impact {
  color: #f78154; }

.u-strong-impact--large {
  font-size: 150%; }

/* EoF */
