/*Component_button
※通常、接頭語にc- が必要だが、ここでは、前CSS構造の sub-common.css の内容を引き継ぐ。
*/

/*TOPに戻るボタン*/
.c-fixlink {
    position: fixed;
        right: 10px;
}
.c-fixlink--tw {
    bottom: 90px;
}
.c-fixlink--fb {
    bottom: 50px;
}
.c-fixlink--top {
    bottom: 10px;
}
.c-fixlink a {
    display: block;
    z-index: 9999;
    padding: 5px 0 0 1px;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.c-fixlink--tw a{
    background-color: #1dcaff;
}
.c-fixlink--fb a{
    background-color: #3b5998;
}
.c-fixlink--top a{
    background-color: #ff5a40;
}

.c-fixlink a:hover {
    text-decoration: none;
    opacity: 0.7;
}
/* share button */

.share-btns {
    clear: both;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 0 10px;
    text-align: center;
}

.share-btns ul {
    margin: 0;
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px !important;
}

.share-btns-item {
    float: left;
    list-style: outside none none;
    margin: 0px 10px;
    width: 40%;
}

.share-btns-item .fa {
    width: 16px;
}

.share-btn {
    color: #fff !important;
    display: block;
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.share-btn.fb {
    background: #295993 none repeat scroll 0 0;
}

.share-btn.twitter {
    background: #00acec none repeat scroll 0 0;
}

.share-btn.hatena {
    background: #008fde none repeat scroll 0 0;
}

.share-btn.gplus {
    background: #de4d3e none repeat scroll 0 0;
}

/* end.share button */

/* 問い合わせボタン*/
.c-btn--contact{
text-align: center;
padding: 20px;
}
.c-btnlink {
  color: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-shadow:2px 2px 2px #555;
  p{
    line-height: 1.0;
  }
  &::before,&::after{
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
}

.c-btnlink--header{
  background-color: $buy-bg;
  border-radius: 10px;
  padding: 10px 30px;
  &:hover{
    background-color: #59b1eb;
    color: #ff0;
  }
}

.c-btnlink--contact{
  background-color: $buy-bg;
  width: 490px;
  height: 90px;
  line-height: 54px;
  &:hover{
    background-color: #59b1eb;
    color: #ff0;
  }
}

.c-btnlink--inquiry{
  background-color:#fda722;
  padding: 10px 80px;
  &:hover{
    background-color: #fdc522;
    color: #ff0;
  }
}




p.c-contact-name {
  padding:20px 0 5px 0;
  margin: 0px;
  font-size: 1.4rem;
}
p.c-contact-ttl{
  font-size: 2.8rem;
}

/* end:問い合わせボタン*/



/* 768px以上 */
@media (min-width: 768px) {
.c-fixlink--tw {
    bottom: 150px;

}
.c-fixlink--fb {
    bottom: 90px;
}
.c-fixlink--top {
    bottom: 30px;
}
.c-fixlink a {
    padding: 12px 0 0 1px;
    width: 53px;
    height: 53px;
}

  .share-btns {
  padding: 0 50px;
  }
}
